/*Reseteamos margenes y paddins y aplicamos un border box para no tener problemas*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aplicamos reseteo previo una cursiva a los textos y les damos un color gris oscuro.*/
h1,
h2,
h3,
h4{
    margin: 0px;
    font-style: italic;
    color: #666666;
}

/*
Esta web tendrá un fondo gris claro, el tipo de letra 
del párrafo debe de ser 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 12px, de negro.  
Aplicaremos tambien unos margenes y unos paddings de 1em de medida.
*/
body {
    background-color: white;
}

/*En el header vamos a aplicar un color de fondo gold, lo cual identifica bastante a los colores corporativos de JS.*/
header {
    border: 1px solid lightgray ;
    border-radius: 1em;
    background-color: gold;
    margin: 1em;
    padding: 1em;
}

/* Al h1 dentro del header vamos a definir el tamaño de letra en 50pixels*/
header h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

/*Aplicamos un borde de 1pixel solido color grisc claro a todo lo que contiene la clase contenedor.
Daremos forma a las esquinas de los bordes.
Establecemos un color de fondo color blanco humo.
Establecemos tanto la altura como el ancho maximo y centramos el texto.
*/
.contenedor {
    border: 1px solid lightgray ;
    border-radius: 1em;
    background-color:whitesmoke;
    width: 90%;
    height: 90%;
    margin: auto;
    line-height: 50px;
    text-align: center;
    max-width: 1000px;
}

.contenedor img {
    height: 10%;
    width: 10%;
    
}

.publicaciones {
    padding: 20px;
    color: rgb(19, 19, 19);
    background-color: whitesmoke;
   ;
}


p {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    text-align: justify;
}

#caja1, #caja2, #caja3, #caja4, #caja5{
    background-color: white;
    border: 1px solid lightgray ;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.infoweb{
    align-items: center;
    border-top: 1px solid gold;
    color: #666666;
    display: flex;
    height: 10%;
    font-style: italic;
    margin: 2em;
    padding: 2em;
    justify-content: space-between;
}